@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6991f;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: #a1a1a1;

  }

.image-hover-scale:hover img {
    transform: scale(1.05); /* Ingrandisci l'immagine del 5% */
    transition: .3s linear;
  }

  .image-hover-scale img {
    transition: .3s linear;
  }

